body {
    background-color: #42b4ca;
   padding: 10%;
}
.navbar {
    background-color: #25494a;
}

.titulo {

    color: white;
    font-weight: 700;
}
.letra {
    font-size: x-large;
    font-weight: 700;
    color: white;
}

.container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}

.container-card, .container-texto {
    margin-top: 5%;
}


.img-fluid {

    height: 200px;

}
.card {
    
    box-shadow: 0 0 10px #bfde42;
    height: 200px;
    /* margin-left: 100px; */
}


.btn {
    margin-top: 5px;
    box-shadow: 0 0 10px #bfde42;
    background-color: #25494a;
    color: white;
    width: 100px;
    height: 50px;
}